body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  display: flex;
  place-items: center;

}

h1 {
  font-size: 35px;
  line-height: 1.2;
  margin: 30px;
}

p {
  font-size: 20px;
}

#root {
  text-align: center;
  width: 100%;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 30px;
  margin: 0 10px;
}
.vertical-line.d-flex.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-left: 50px!Important;
  padding-right: 50px!Important;
}

.nav-top {
  box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.219);
}

.navbar-logo {
  max-width: 100%;
  height: auto;
}

.navbar {
  padding: 0 50px;
  background-color: #f2f2f2;
}

.menu-superior .navbar-nav {
  flex-direction: row;
  margin: auto;
  align-items: center;
}

.nav-link {
  margin: 0 10px;
}
.navbar-logo, .cart-widget {
  width: 200px;
}

.loading_img {
  max-width: 200px;
}

.index {
  margin: 20px 50px 50px 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.item-btn {
  background-color: #5cad6b;
  color: #f2f2f2;
  border: none;
}

.item-btn:hover {
  background-color: #ec9432;
}

.item img {
  max-height: 250px;
  width: auto;
}

.item button {
  margin-top: 5px;
}

.item-container {
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  flex: 1;
  box-sizing: border-box;
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.card-title {
  font-size: medium;
  line-height: normal;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.059) 1px 1px 1px 1px;
}

.item-details {
  margin: 30px
}

.item-details .card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  box-sizing: border-box;
}

.item-details .card-title {
  margin: 15px;
  text-align: center;
  font-size: x-large;
}

.item-details .card-text {
  margin: 15px;
  text-align: justify;
  font-size: medium;
}

.item-details .price-cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details .card-price {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2px;
}

.item-count {
  padding: 10px;
}

img {
  border-radius: 10px;
}

.add-cart {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  border-color: #1a3d5e;
}

.add-btn {
  border-radius: 10px;
  border-color: #1a3d5e;
  color: #f2f2f2;
  background-color: #1a3d5e;
}

.add-btn:hover {
  background-color: #5cad6b;
  border-color: #1a3d5e;
} 