body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin: 0;
}

h1 {
  font-size: 35px;
  line-height: 1.2;
  margin: 30px;
}

p {
  font-size: 20px;
}

#root {
  text-align: center;
  width: 100%;
}

.vertical-line {
  border-left: 1px solid #ccc;
  height: 30px;
  margin: 0 10px;
}

.vertical-line.d-flex.align-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.nav-top {
  box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.219);
}

.navbar {
  padding: 0 50px;
  background-color: #f2f2f2;
}

.upper-menu .navbar-nav {
  flex-direction: row;
  margin: auto;
  align-items: center;
}

a {
  text-decoration: auto;
}

.nav-link {
  margin: 0 10px;
}

.navbar-logo,
.cart-widget {
  width: 200px;
}

.loading_img {
  max-width: 200px;
}

.index {
  margin: 20px 50px 50px 50px;
  padding-right: 50px;
  padding-left: 50px;
}

.item-btn {
  background-color: #5cad6b;
  color: #f2f2f2;
  border: none;
}

.item-btn:hover {
  background-color: #ec9432;
}

.item img {
  max-height: 250px;
  width: auto;
}

.item button {
  margin-top: 5px;
}

.item-container {
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  flex: 1;
  box-sizing: border-box;
}

.clamp-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.card-title {
  font-size: medium;
  line-height: normal;
}

.cart-detail {
  margin-top: 30px;
}

.card-quantity {
  font-size: small;
  line-height: normal;
}

.card-subtotal {
  font-size: medium;
  line-height: normal;
  color: #0a58ca;
}

.total-products {
  font-size: larger;
  font-weight: 500;
}

.total-amount {
  font-size: x-large;
  font-weight: 700;
  color: #00594d;
}

.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.059) 1px 1px 1px 1px;
}

.checkout-container {
  text-align: -webkit-center;
}

.checkout {
  margin: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  box-sizing: border-box;
  box-shadow: rgb(0 0 0 / 17%) 1px 1px 3px 2px;
}

.checkout h2 {
  font-size: x-large;
  color: #043e60;
}
.checkout form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.checkout form input {
  border-radius: 5px;
  margin-left: 15px;
}

.checkout .name, .email, .whatsapp, .address {
  margin: 15px;
  font-weight: bold;
}

.checkout-btn {
  margin: 15px;
  padding: 10px;
  font-size: x-large;
}

.item-details {
  margin: 30px;
}

.item-details .card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  box-sizing: border-box;
}

.item-details .card-title {
  margin: 15px;
  text-align: center;
  font-size: x-large;
}

.item-details .card-text {
  margin: 15px;
  text-align: justify;
  font-size: medium;
}

.item-details .price-cart {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details .card-price {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 2px;
}

.item-count {
  padding: 10px;
}

img {
  border-radius: 10px;
}

.add-cart {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  border-color: #1a3d5e;
}

.add-btn {
  border-radius: 10px;
  border-color: #1a3d5e;
  color: #f2f2f2;
  background-color: #1a3d5e;
}

.add-btn:hover {
  background-color: #5cad6b;
  border-color: #1a3d5e;
}

.swal-button-ok {
  background-color: #5cad6b;
  color: #f2f2f2;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.swal-button-ok:hover {
  background-color: #ec9432;
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cart ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 10px;
  margin: 20px;
}

.cart li {
  list-style: none;
  flex: 1;
}